section.home {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-direction: column;
  padding-bottom: 5rem;
}

section.home p {
  margin-top: 1rem;
  margin-bottom: 0px;
  line-height: 1.5rem;
}

section.home ul {
  list-style-type: none;
}