.searchInput {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    color: var(--whiteAlpha-500);
  }

  .inputContainer {
    position: relative;

    input {
      padding: 0.5rem;
      border-radius: 5px;
      border: none;
      background-color: var(--grey-200);
      color: var(--white);
      font-size: 1rem;
      transition: box-shadow linear 50ms;
      outline: none;
      width: 100%;
      text-indent: 30px;

      &:focus {
        box-shadow: 0px 0px 0px 3px var(--focus-ring);
      }
    }

    svg {
      position: absolute;
      left: 10px;
      bottom: calc(50% - 10px);
    }
  }
}
