.embed {
  grid-template-columns: 45px auto;
  column-gap: 0.5rem;
}

.embed .embedHead .name {
  font-size: 1rem;
}

.embed .embedHead .bot {
  font-size: 0.8rem;
}

.embed .embedContent {
  width: 100%;
  min-width: 100%;
}

.embed .embedContentTitle {
  font-size: 1.3rem;
}
