@import "../../styles/breakpoints.scss";

.main {
  flex: 1;

  section {
    margin: auto;
    padding: 1rem 3rem;
    max-width: clamp(30rem, 100%, 60rem);
    @include responsive {
      padding: 1rem;
      max-width: none;
    }
  }
}

.content {
  display: flex;
  height: 100vh;
}
