.playerTable {
  width: clamp(30rem, 100%, 50rem);
  border-spacing: 1em 10px;
  border-collapse: collapse;
  background-color: var(--grey-200);
  overflow: auto;

  .mutedText {
    color: var(--grey-500);
  }

  thead {
    background-color: var(--grey-400);
  }

  th,
  td {
    border-bottom: 1px solid var(--grey-300);
    font-weight: normal;
    padding: 0.5rem;
  }

  th {
    white-space: nowrap;
  }

  td {
    font-size: 0.8rem;
  }
}
