.main {
  overflow: auto;
}

.main section {
  margin: auto;
  padding: 7rem 3rem;
  max-width: clamp(30rem, 100%, 60rem);
}

.content {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 100vh;
}
