@import "./breakpoints.scss";

:root {
  --grey-200: #282a2f;
  --grey-250: #3e424c;
  --grey-300: #32353d;
  --grey-400: #565d6d;
  --grey-500: #717376;
  --grey-600: #83868e;
  --whiteAlpha-500: #bdbdbd;
  --white: #fff;

  --focus-ring: #4199e0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 100%;
  background-color: var(--grey-300);
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  color: var(--white);
  font-weight: bold;
  font-family: Play;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 1px solid var(--grey-400);
}

main {
  margin: auto;
  padding: 1rem 3rem;
  max-width: clamp(30rem, 100%, 60rem);
  @include responsive {
    padding: 1rem;
    max-width: none;
  }
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--grey-600);
}
